.sm-card-wrapper {
  width: 325px;
  height: 375px;
  grid-template-columns: auto 108px auto;
  grid-template-rows: 23% 54px 54px 27% 21%;
  background-color: #fff;
  transition: all 0.5s;
}
.sm-card-wrapper:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transform: translateY(-10px) !important;
}
.sm-card-wrapper h1,
p {
  margin: 0 !important;
}
.sm-card-wrapper > div {
  text-align: center;
}
.sm-card-top {
  grid-area: 1/1 / span 2 / span 3;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sm-card-avatar {
  grid-area: 2/2 / span 2 / span 1;
  z-index: 1000;
}
.sm-card-personal-info {
  grid-area: 3/1 / span 2 / span 3;
}
.sm-card-social-info {
  grid-area: 5/1 / span 1 / span 3;
}
